.container {
  &__currency-converter {
    width: 350px;
    height: 450px;
    color: #FFFFFF;
    background-color: #52606B;
    border-radius: 36px;
  }

  &__components {
    position: relative;
    height: calc(100% - 30px);
  }
}